<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_B2bPorto
 * @author     Extension Team
 * @copyright  Copyright (c) 2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>
<?php
$_helper = $this->helper('Smartwave\Porto\Helper\Data');
$header_type = $this->getConfig('porto_settings/header/header_type');
$header_new_skin = $this->getConfig('porto_settings/header/new_skin');
$class = $header_type == 17 || $header_type == 19 || $header_type == 16 || $header_type == 20 ? 'header-newskin':'';
if(isset($header_new_skin) && $header_new_skin && ($header_type == 2 || $header_type == 5 || $header_type == 6 || $header_type == 7 || $header_type == 8 || $header_type == 13))
    $class = 'header-newskin';
if(isset($header_new_skin) && $header_new_skin && $header_type == 10)
    $class = 'header-new-skin';
?>
<header class="page-header type<?php echo $header_type; ?> <?php echo $class;?>" >
    <?php echo $this->getChildHtml("header_customer_form_login"); ?>
    <?php if($header_type == 3 || $header_type == 4 || $header_type == 9): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <?php echo $this->getChildHtml("header.links"); ?>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                    <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
                    <?php echo $this->getChildHtml("mini_quote"); ?>
                </div>
            </div>
        </div>
    <?php elseif($header_type == 12): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <div class="top-links-area">
                        <a class="top-links-icon" href="javascript:void(0)">links</a>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                    <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
                    <?php echo $this->getChildHtml("mini_quote"); ?>
                </div>
            </div>
        </div>
    <?php elseif($header_type == 13): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <div class="menu-area">
                        <a href="javascript:void(0)" class="shop-menu">Shop</a>
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                    <div class="top-links-area">
                        <a class="top-links-icon" href="javascript:void(0)">links</a>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php if(isset($header_new_skin) && $header_new_skin):?>
                        <?php echo $this->getChildHtml("custom_block"); ?>
                    <?php endif;?>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <?php echo $this->getChildHtml("minicart"); ?>
                    <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
                    <?php echo $this->getChildHtml("mini_quote"); ?>
                </div>
            </div>
        </div>
    <?php elseif($header_type == 5): ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php if(isset($header_new_skin) && $header_new_skin):?>
                    <div class="top-links-area">
                        <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links');?></a></div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                <?php endif;?>
                <?php if(!isset($header_new_skin) || !$header_new_skin):?>
                    <?php echo $this->getChildHtml("header.links"); ?>
                <?php endif;?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
            <?php echo $this->getChildHtml("mini_quote"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <div class="search-area">
                <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                <?php echo $this->getChildHtml("top.search"); ?>
            </div>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif($header_type == 6): ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
            <?php echo $this->getChildHtml("mini_quote"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <div class="search-area">
                <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                <?php echo $this->getChildHtml("top.search"); ?>
            </div>
            <?php echo $this->getChildHtml("custom_block"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif($header_type == 7 ): ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php if(!isset($header_new_skin) || !$header_new_skin): ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                    <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
                    <?php echo $this->getChildHtml("mini_quote"); ?>
                <?php endif; ?>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><em class="porto-icon-search"></em><?php echo __('Search'); ?></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php if(isset($header_new_skin) && $header_new_skin): ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                    <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
                    <?php echo $this->getChildHtml("mini_quote"); ?>
                <?php endif; ?>
                <span class="split"></span>
                <div class="toplinks-area">
                    <a href="javascript:void(0)" class="top-links-icon"><?php echo __('Links'); ?></a>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <span class="split"></span>
                <?php echo $this->getChildHtml("custom_block"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif($header_type == 8): ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
            <?php echo $this->getChildHtml("mini_quote"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
        <div class="menu-container">
            <?php
            $toggle_text = $this->getConfig('porto_settings/header/toggle_text');
            $custom_block_id_8 =$this->getConfig('porto_settings/header/static_block_8');
            ?>
            <div class="container">
                <div class="menu-wrapper">
                    <div class="drop-menu">
                        <a href="javascript:void(0)">
                            <?php echo $toggle_text; ?>
                        </a>
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                    <div class="custom-menu-block">
                        <?php
                        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                        if($block) {
                            $block->setBlockId($custom_block_id_8);
                        }
                        if($block){
                            echo $block->toHtml();
                        }
                        ?>
                    </div>
                </div>
            </div>
        </div>
    <?php elseif($header_type == 10): ?>
        <div class="switcher-area">
            <?php echo $this->getChildHtml("skip_to_content"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php echo $this->getChildHtml("store_language"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
            <?php echo $this->getChildHtml("mini_quote"); ?>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php if(isset($header_new_skin) && $header_new_skin):?>
                <?php echo $this->getChildHtml("top.search"); ?>
            <?php endif;?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <?php if(!isset($header_new_skin) || !$header_new_skin):?>
                <?php echo $this->getChildHtml("top.search"); ?>
            <?php endif;?>
        </div>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="custom-block-area">
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
    <?php elseif($header_type == 14 ): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <div class="search-area">
                    <a href="javascript:void(0)" class="search-toggle-icon"><i class="fas fa-search"></i><span><?php echo __('Search'); ?></span></a>
                    <?php echo $this->getChildHtml("top.search"); ?>
                </div>
                <div class="top-links-area">
                    <div class="top-links-icon"><a href="javascript:void(0)"><i class="far fa-user"></i><span><?php echo __('links');?></span></a></div>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
                <a href="<?php echo $_helper->getBaseLinkUrl(). 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="far fa-heart"></i></a>
                <?php echo $this->getChildHtml("minicart"); ?>
                <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
                <?php echo $this->getChildHtml("mini_quote"); ?>
            </div>
        </div>
    <?php elseif($header_type == 15 ): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="header-right-area">
                <div class="switcher-area">
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i><span><?php echo __('Search'); ?></span></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <div class="cart-area">
                        <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                        <?php echo $this->getChildHtml("currency"); ?>
                        <?php echo $this->getChildHtml("store_language"); ?>
                        <?php echo $this->getChildHtml("minicart"); ?>
                        <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
                        <?php echo $this->getChildHtml("mini_quote"); ?>
                    </div>
                </div>
                <div class="header-link-area">
                    <div class="top-links-area panel header">
                        <?php echo $this->getChildHtml("skip_to_content"); ?>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <div class="main-link">
                        <?php echo $this->getChildHtml("navigation.sections"); ?>
                    </div>
                </div>
            </div>
        </div>
    <?php elseif($header_type == 2 && isset($header_new_skin) && $header_new_skin): ?>
        <div class="main-panel-top">
            <div class="container">
                <div class="main-panel-inner">
                    <div class="panel wrapper">
                        <div class="panel header">
                            <?php echo $this->getChildHtml("skip_to_content"); ?>
                            <?php echo $this->getChildHtml("currency"); ?>
                            <?php echo $this->getChildHtml("store_language"); ?>
                            <?php echo $this->getChildHtml("header.links"); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header content">
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
            <?php echo $this->getChildHtml("mini_quote"); ?>

            <?php echo $this->getChildHtml("top.search"); ?>
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php elseif($header_type == 18 ): ?>
        <div class="main-panel-top">
            <div class="container">
                <div class="main-panel-inner">
                    <div class="panel wrapper">
                        <div class="panel header">
                            <?php echo $this->getChildHtml("skip_to_content"); ?>
                            <?php echo $this->getChildHtml("header.links"); ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header content">
            <div class="select-area">
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
            </div>
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
            <?php echo $this->getChildHtml("mini_quote"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php elseif($header_type == 20 ): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                </div>
                <div class="bottom-panel">
                    <div class="top-links-area">
                        <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links');?></a></div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                    <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
                    <?php echo $this->getChildHtml("mini_quote"); ?>
                </div>
            </div>
        </div>
    <?php elseif($header_type == 17 ): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <div class="panel header">
                <div class="top-panel">
                    <?php echo $this->getChildHtml("skip_to_content"); ?>
                    <?php echo $this->getChildHtml("custom_block"); ?>
                    <div class="top-links-area">
                        <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links');?></a></div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                    </div>
                    <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
                    <div class="search-area">
                        <a href="javascript:void(0)" class="search-toggle-icon"><i class="porto-icon-search"></i></a>
                        <?php echo $this->getChildHtml("top.search"); ?>
                    </div>
                </div>
                <div class="bottom-panel">
                    <?php echo $this->getChildHtml("currency"); ?>
                    <?php echo $this->getChildHtml("store_language"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
                    <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
                    <?php echo $this->getChildHtml("mini_quote"); ?>
                </div>
            </div>
            <?php echo $this->getChildHtml("navigation.sections"); ?>
        </div>
    <?php elseif($header_type == 19 ): ?>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
            <?php echo $this->getChildHtml("mini_quote"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <div class="top-links-area">
                    <div class="top-links-icon"><a href="javascript:void(0)"><?php echo __('links');?></a></div>
                    <?php echo $this->getChildHtml("header.links"); ?>
                </div>
            </div>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php else: ?>
        <div class="panel wrapper">
            <div class="panel header">
                <?php echo $this->getChildHtml("skip_to_content"); ?>
                <?php echo $this->getChildHtml("currency"); ?>
                <?php echo $this->getChildHtml("store_language"); ?>
                <?php echo $this->getChildHtml("header.links"); ?>
            </div>
        </div>
        <div class="header content">
            <?php echo $this->getChildHtml("logo"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
            <?php echo $this->getChildHtml("fastorder-link-shopping-cart"); ?>
            <?php echo $this->getChildHtml("mini_quote"); ?>
            <span data-action="toggle-nav" class="action nav-toggle"><span><?php /* @escapeNotVerified */ echo __('Toggle Nav') ?></span></span>
            <?php echo $this->getChildHtml("top.search"); ?>
            <?php echo $this->getChildHtml("custom_block"); ?>
        </div>
        <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php endif; ?>
</header>
